@font-face {
	font-family: mainFont;
	src: url('./fonts/Roboto-Condensed/RobotoCondensed-Regular.ttf');
}
@font-face {
	font-family: mainFontBold;
	src: url('./fonts/Roboto-Condensed/RobotoCondensed-Bold.ttf');
}
@font-face {
	font-family: mainFontBoldItalic;
	src: url('./fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.ttf');
}
@font-face {
	font-family: mainFontLight;
	src: url('./fonts/Roboto-Condensed/RobotoCondensed-Light.ttf');
}
@font-face {
	font-family: mainFontLighItalic;
	src: url('./fonts/Roboto-Condensed/RobotoCondensed-LightItalic.ttf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.App-btn {
	background-color: #FF1493;
	border: none;
	border-radius: 5px;
	color: white;
	width: 200px;
	padding: 50px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: mainFont;
	font-size: 16px;
	transition: background-color 0.3s ease;
}
.App-btn:hover {
  background-color: black;
}
.App-page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.App-img {
	border-radius: 100%;
	width: 200px;
	height: 200px;
}
.App-text-grow {
  transition: font-size 0.3s ease-in-out;
}
.App-text-grow:hover {
  font-size: 1.1em;
}
.App-heading {
	font-family: mainFontLight;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 1px;
}
.App-paragraph {
	font-family: mainFontLight;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 1px;
}		
.App-colored-text {
	color: #FF1493;
}

.github-button {
  display: inline-block;
  padding: 50px;
  width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: black;
  color: #ffffff;
  font-family: mainFont;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}


.github-button:hover {
  background-color: #6e7681;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
