@font-face {
	font-family: mainFont;
	src: url('./fonts/Roboto-Condensed/RobotoCondensed-Regular.ttf');
}
@font-face {
	font-family: mainFontBold;
	src: url('./fonts/Roboto-Condensed/RobotoCondensed-Bold.ttf');
}
@font-face {
	font-family: mainFontBoldItalic;
	src: url('./fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.ttf');
}
@font-face {
	font-family: mainFontLight;
	src: url('./fonts/Roboto-Condensed/RobotoCondensed-Light.ttf');
}
@font-face {
	font-family: mainFontLighItalic;
	src: url('./fonts/Roboto-Condensed/RobotoCondensed-LightItalic.ttf');
}

.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.App-btn {
	background-color: #007BA7;
	border: none;
	border-radius: 5px;
	color: white;
	width: 200px;
	padding: 50px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: mainFont;
	font-size: 18px;
	transition: background-color 0.3s ease;
}
.App-btn:hover {
  background-color: black;
}
.dc_btn {
  background-color:#7289d9;
  padding: 15px; 
  border: none; 
  border-radius: 5px; 
  color:white;
  transition: background-color 0.3s ease;
}
.dc_btn:hover {
  background-color: black;
}
.App-projects {
  background-color: #FAF9F6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.App-projects {
  background-color: #FAF9F6;
  display:flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .App-projects {
    flex-direction: column;
    align-items: center;
  }
}

.App-project {
  background-color: white;
  border: #007BA7;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  width: 275px;
  height: 100%;
  padding: 10px;
  text-align: center;
}
.App-project-img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-top: 15px;
}
.App-project-attr {
  color: white;
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #007BA7;
}
.App-img {
	border-radius: 100%;
  border: #007BA7;
  border-style: solid;
  border-width: 4px;
  border-color: #007BA7;
	width: 200px;
	height: 200px;
}
.App-text-grow {
  transition: font-size 0.3s ease-in-out;
}
.App-text-grow:hover {
  font-size: 1.1em;
}
.App-heading {
	font-family: mainFontLight;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 1px;
}
.App-page {
  background-color: #FAF9F6;
  min-height: 100vh;
  width: '100%';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.App-abt {
  background-color: white;
  border: #007BA7;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 50px;
  width: 75%;
  height: 75%;
  padding: 10px;
  text-align: center;
  font-family: mainFontLight;
}

@media screen and (max-width: 768px) {
  .App-abt {
      margin-left: 1rem;
      margin-right: 1rem;
  }
}
.App-paragraph {
  margin-right: 1rem;
  margin-left: 1rem;
}
.App-colored-text {
	color: #007BA7;
}
@media (max-width: 768px) {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .App-btn, .github-button {
    margin: 10px 0;
  }
}

.discord-button {
  display: inline-block;
  width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
  margin: 5px;
  font-family: mainFont;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
  background-color:#7289d9;
}
.discord-button:hover {
  background-color: #a3b1e6;
}
.github-button {
  display: inline-block;
  width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: black;
  color: #ffffff;
  margin: 5px;
  font-family: mainFont;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
}
.call-button {
  display: inline-block;
  width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FF4136;
  color: #ffffff;
  margin: 5px;
  font-family: mainFont;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
}
.call-button:hover {
  background-color: #FFBDBA;
}
.gh_btn {
  background-color:black;
  padding: 15px; 
  border: none; 
  border-radius: 5px; 
  color:white;
  transition: background-color 0.3s ease;
}
.gh_btn:hover {
  background-color: #6e7681;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}


.github-button:hover {
  background-color: #6e7681;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
